/* fonts.css */

/* Load the fonts if not already loaded via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Roboto+Slab:wght@400;600&family=Fira+Code&display=swap');

/* --- Base font for all slides --- */
.reveal {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  font-size: 28px;  /* Adjust base font size if you want */
}

.scroll {
  max-height: 600px;
  overflow-y: scroll;
}

.scroll-long {
  max-height: 800px;
  overflow-y: scroll;
}

.very-large-slide {
  font-size: 100px;
}

.large-slide {
  font-size: 60px;
  line-height: 1.2;
}

.medium-slide {
  font-size: 40px;
  line-height:0;
}

.blur-text {
  filter: blur(10px);      /* adjust the blur amount */
}

.reveal .highlight {
  background-color: lightblue;
  color: black;
  transition: background-color 0.8s ease, color 0.8s ease, opacity 0.8s ease;
}

.reveal .highlight-red {
  background-color: lightcoral;
  color: black;
}

.reveal .highlight-blue {
  background-color: lightskyblue;
  color: black;
}

.reveal .slides section .fragment.blur {
  filter: blur(15px);
}

.reveal .slides section .fragment.blur.visible {
  filter: none
}